myhostname = {{postfix_hostname}}
myorigin = $mydomain
mydestination = 
relayhost = $mydomain
mynetworks = {{postfix_networks}}
inet_interfaces = {{postfix_inet_interfaces}}
inet_protocols = {{postfix_inet_protocols}}